<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com"> Rails Guide of the Year </a>
      by Daniel Trinh
    </small>
    <nav>
      <%= link_to 'About', pages_about_path %>
    </nav>
  </footer>
</div>